name: Build and Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'microservices/gateway-service/**'
      - 'microservices/auth-service/**'
      - 'microservices/customer-service/**'
      - 'microservices/vehicle-service/**'
      - 'microservices/booking-service/**'
      - 'microservices/support-service/**'
      - 'microservices/rsa-service/**'
      - 'microservices/feedback-service/**'
  pull_request:
    branches:
      - main
    paths:
      - 'microservices/gateway-service/**'
      - 'microservices/auth-service/**'
      - 'microservices/customer-service/**'
      - 'microservices/vehicle-service/**'
      - 'microservices/booking-service/**'
      - 'microservices/support-service/**'
      - 'microservices/rsa-service/**'
      - 'microservices/feedback-service/**'
  workflow_dispatch:

jobs:
  gateway-service-build:
    if: "contains(github.event.head_commit.message, 'gateway-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for gateway-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for gateway-service
        working-directory: microservices/gateway-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/gateway-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/gateway-svc:3.0

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/gateway-svc:3.0 ${{ secrets.DOCKER_USERNAME }}/gateway-svc:3.0

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/gateway-svc:3.0

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/gateway-svc:3.0"'|' deployments/dev/gateway-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/gateway-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/gateway-service.yaml
          git commit -m "Update gateway-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  auth-service-build:
    if: "contains(github.event.head_commit.message, 'auth-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for auth-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for auth-service
        working-directory: microservices/auth-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/auth-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/auth-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/auth-svc:latest ${{ secrets.DOCKER_USERNAME }}/auth-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/auth-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/auth-svc:latest"'|' deployments/dev/auth-service.yaml
         
          echo "# Updated at $(date)" >> deployments/dev/auth-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/auth-service.yaml
          git commit -m "Update auth-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  customer-service-build:
    if: "contains(github.event.head_commit.message, 'customer-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for customer-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for customer-service
        working-directory: microservices/customer-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests for customer-service
        working-directory: microservices/customer-service
        run: |
          python test.py 

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/customer-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/customer-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/customer-svc:latest ${{ secrets.DOCKER_USERNAME }}/customer-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/customer-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/customer-svc:latest"'|' deployments/dev/customer-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/customer-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/customer-service.yaml
          git commit -m "Update customer-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  vehicle-service-build:
    if: "contains(github.event.head_commit.message, 'vehicle-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for vehicle-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for vehicle-service
        working-directory: microservices/vehicle-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/vehicle-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/vehicle-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/vehicle-svc:latest ${{ secrets.DOCKER_USERNAME }}/vehicle-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/vehicle-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/vehicle-svc:latest"'|' deployments/dev/vehicle-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/vehicle-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/vehicle-service.yaml
          git commit -m "Update vehicle-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  booking-service-build:
    if: "contains(github.event.head_commit.message, 'booking-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for booking-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for booking-service
        working-directory: microservices/booking-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/booking-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/booking-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/booking-svc:latest ${{ secrets.DOCKER_USERNAME }}/booking-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/booking-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/booking-svc:latest"'|' deployments/dev/booking-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/booking-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/booking-service.yaml
          git commit -m "Update booking-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  support-service-build:
    if: "contains(github.event.head_commit.message, 'support-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for support-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for support-service
        working-directory: microservices/support-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/support-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/support-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/support-svc:latest ${{ secrets.DOCKER_USERNAME }}/support-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/support-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/support-svc:latest"'|' deployments/dev/support-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/support-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/support-service.yaml
          git commit -m "Update support-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  rsa-service-build:
    if: "contains(github.event.head_commit.message, 'rsa-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for rsa-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for rsa-service
        working-directory: microservices/rsa-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/rsa-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/rsa-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/rsa-svc:latest ${{ secrets.DOCKER_USERNAME }}/rsa-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/rsa-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/rsa-svc:latest"'|' deployments/dev/rsa-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/rsa-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/rsa-service.yaml
          git commit -m "Update rsa-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  feedback-service-build:
    if: "contains(github.event.head_commit.message, 'feedback-service')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python for feedback-service
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for feedback-service
        working-directory: microservices/feedback-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: microservices/feedback-service
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/autohub/feedback-svc:latest

      - name: Tag Docker image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/autohub/feedback-svc:latest ${{ secrets.DOCKER_USERNAME }}/feedback-svc:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/feedback-svc:latest

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_USERNAME }}/feedback-svc:latest"'|' deployments/dev/feedback-service.yaml

          echo "# Updated at $(date)" >> deployments/dev/feedback-service.yaml

      - name: Commit and push updated manifest
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add deployments/dev/feedback-service.yaml
          git commit -m "Update feedback-service image to latest version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
