fastapi
uvicorn
python-jose
passlib[bcrypt]
pydantic
requests
sqlalchemy
psycopg2-binary
PyJWT
bcrypt
httpx
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-requests
loguru
prometheus_fastapi_instrumentator
prometheus-client
